<%- include('../partials/header') -%>

</head>
<body>
    <div class="heading">
        <center>
            <h1>Press To Start</h1>
        </center>
    </div>
    <center>
        <a class="btn" href="/game">Start Game</a>
    </center>
    
    <%- include('../partials/footer') -%>

</body>
</html>