<%- include('../partials/header') -%>

    </head>
        
    <body>
        <div class="heading">
            <center>
                <h1>Error Occurred!!</h1>
            </center>
        </div>
        
        <center style="margin-bottom:20px">
            <%= message %>
        </center>

        <center>
            <a class="btn" href="/">Return to Home</a>
      
            <%- include('../partials/footer') -%>
    
        </center>
    </body>
</html>