<%- include('../partials/header') -%>

    </head>
        
    <body>
        <div class="heading">
            <center>
                <h2>Welcome to...</h2>

                <h1>Who Wants to be a Millionaire!!</h1>
            </center>
        </div>
        <center>
            <a class="btn" href="/rules">Rules</a>

            <a class="btn" href="/userAdd">Get Started</a>

            <a class="btn" href="/players">Players</a>
        </center>
        
        <%- include('../partials/footer') -%>

    </body>
</html>