<%- include('../partials/header') -%>

</head>
<body>
    <div class="rule-box">
        <center>
            <h2 class="rule-header">RULES OF THIS GAME</h2>
            <h4>1. There are a total of 16 questions</h4>
            <h4>2. Answer each question as fast as you can</h4>
            <h4>3. You have 10 seconds to answer each question</h4>
            <h4>4. The questions are randomised from ranges:</h4>
            <h4>-->Easy</h4>
            <h4>-->Medium</h4>
            <h4>-->Hard</h4>
        </center>
    </div>
    <center>
        <%- include('../partials/returnButton') -%>
  
        <%- include('../partials/footer') -%>

    </center>
</body>
</html>