<%- include('../partials/header') -%>

</head>
<body>
    <div class="heading">
        <center>
            <h2>YOU WONN!!</h2>

            <h1>Congrats Millionaire &#128513</h1>
        </center>
    </div>
    
    <center>
        <%- include('../partials/returnButton') -%>
  
        <%- include('../partials/footer') -%>

    </center>
</body>
</html>